#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


#particles canvas{
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  pointer-events: none;
}

.app-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.form-wrapper{
  position: relative;
  z-index: 1;
}